{
    "require": {
        "noahbuscher/Macaw": "dev-master",
        "illuminate/database": "*"
    },
    "autoload": {
        "classmap": [
            "app/Http/Controllers",
            "app/Models"
        ],
        "psr-4": {
            "App\\": "app/"
        }
    }
}
